.lnt-dnd-container
	.lnt-dnd-left
		ul
			margin 0
			list-style none
			padding 0

			li
				border thin solid #ccc
				cursor pointer
				margin 1em 0
				padding 6px
				
				&.dropped
					background-color #eee
				
	.lnt-dnd-right
		ul
			margin 0
			list-style none
			padding 0
			
			li
				border thin solid #ccc
				position relative
				height 57px
				margin 11px 0
				font-size 17px
				position relative
				font-weight bold
				
				&.dropped
					background-color #eee

	.ui-drop-hover
		background-color: #ccc
		
	.buttons
		text-align center
		
		button
			display  inline-block
			margin 1em