.lnt-dnd-container
	.lnt-dnd-left
		ul
			margin 0
			list-style none
			padding 0

			li
				background-color #eee
				border thin solid #ccc
				height 200px
				margin 1em
				padding 1em
				// width 100%
				
	.lnt-dnd-right
		ul
			margin 0
			list-style none
			padding 0
			
			li
				background-color #eee
				border thin solid #ccc
				height 200px
				margin 1em

	
	.lnt-content-middle
		div
			text-align center