*
	font-size 18px
	
	.lnt_relateword_box_border
		border 1px solid black
	
	.lnt_relateword_boxRow
		height auto
		padding-bottom 10px
		padding-top 10px
		
		div
			margin 5px 0
			
			button
				width: 80%
				
		
