/* POPUP */
.lnt-popup
	animation popupShow .5s linear forwards
	align-content center
	display flex
	flex-direction column
	justify-content center
	height 100%
	left 0
	overflow hidden
	padding 2em
	position absolute
	top 0
	width 100%
	z-index 1000
	
	> .icon-cross
		color #ccc
		cursor pointer
		font-size 32px
		margin 30px
		position absolute
		transition .5s all ease
		right 0
		top 0
		
		&:hover
			color: #777
			transform rotate(90deg)
	
	.lnt-popup-wrapper
		// animation wrapperShow .5s linear forwards
		// animation-delay .5s
		background-color white
		//border-radius 5px
		display none
		margin 0 auto
		max-width 90%
		min-height 200px
		position relative
		// opacity 0
		// overflow auto
			
		.coo-title-video
			position absolute
			left 50%
			top 0%
			transform translate(-50%, 0) skew(-15deg);
			font-size 1.5em
			background-color #2b909e
			color #fff
			padding 0.3em 1em
		
		.coo-text-video
			position absolute
			left 2%
			bottom 2%
			font-size 1em

@keyframes popupShow
	from
		background-color trnsparent
	to
		background-color rgba(0,0,0,0.9)

@keyframes wrapperShow
	from
		opacity 0
	to
		opacity 1