.lnt_section_word
	display none

	.boxButtons
		padding 5px

	.lnt_word_button
		border-radius 5px
		display inline-block
		height 50px
		margin 2px
		padding 5px
		width 50px

	.boxLetters
		padding 5px
		border-radius: 5px
		
		.lnt_lettertofill
			border 1px dashed blue
			border-radius 5px
			display inline-block
			height 50px
			margin 2px
			padding 5px
			vertical-align middle
			width 50px
			
	#lnt_check
		margin 10px