.lnt-youtube-captions
	width 800px
	
	.player
		padding-bottom 56.25%
		position relative
		height 0
	
		iframe
			left 0
			height 100%
			position absolute
			top 0
			width 100%
	ul
		list-style none
		padding 0

		li
			cursor pointer
			border thin solid #aaa
			padding 1em
			margin 1em
			
			span
				color #607D8B
				font-size 2em
				margin-right 1em

			&:hover
				background-color #eee	